# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# turbo
.turbo/cache/*
.turbo/node-modules.json

# backend
**/node_modules/*

# frontend
**/node_modules/*
apps/frontend/.angular/cache/20.3.28/dashboard/.tsbuildinfo
apps/frontend/.angular/cache/20.3.28/dashboard/angular-compiler.db
apps/frontend/.angular/cache/20.3.28/dashboard/angular-compiler.db-lock
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/_metadata.json
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/@angular_common_http.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/@angular_common_http.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/@angular_common.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/@angular_common.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/@angular_core.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/@angular_core.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/@angular_forms.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/@angular_forms.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/@angular_platform-browser.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/@angular_platform-browser.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/@angular_router.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/@angular_router.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-23PQUZWA.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-23PQUZWA.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-42SXGMQM.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-42SXGMQM.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-EEUFFABX.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-EEUFFABX.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-EXHOGJTL.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-EXHOGJTL.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-LWHWTQE3.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-LWHWTQE3.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-PMO4K25D.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-PMO4K25D.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-WDMUDEB6.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/chunk-WDMUDEB6.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/package.json
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/rxjs.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/rxjs.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/zone__js.js
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps/zone__js.js.map
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps_ssr/_metadata.json
apps/frontend/.angular/cache/20.3.28/dashboard/vite/deps_ssr/package.json
apps/frontend/dist/dashboard/3rdpartylicenses.txt
apps/frontend/dist/dashboard/prerendered-routes.json
apps/frontend/dist/dashboard/browser/chunk-4AOSD2SX.js
apps/frontend/dist/dashboard/browser/chunk-F4BD7LBB.js
apps/frontend/dist/dashboard/browser/chunk-FGYBMRXX.js
apps/frontend/dist/dashboard/browser/chunk-HJB6H4CB.js
apps/frontend/dist/dashboard/browser/chunk-IL4JXQ6G.js
apps/frontend/dist/dashboard/browser/chunk-LG3JJPWC.js
apps/frontend/dist/dashboard/browser/chunk-LHETABYN.js
apps/frontend/dist/dashboard/browser/chunk-MSQPDROD.js
apps/frontend/dist/dashboard/browser/chunk-N6CTGP6S.js
apps/frontend/dist/dashboard/browser/chunk-P2NWYN23.js
apps/frontend/dist/dashboard/browser/chunk-PKAYAEON.js
apps/frontend/dist/dashboard/browser/chunk-PPOMPD3Z.js
apps/frontend/dist/dashboard/browser/chunk-S432GGKK.js
apps/frontend/dist/dashboard/browser/chunk-SN5CPBS5.js
apps/frontend/dist/dashboard/browser/chunk-TYFL6DTA.js
apps/frontend/dist/dashboard/browser/chunk-UZBSMYPI.js
apps/frontend/dist/dashboard/browser/chunk-VDZB62SY.js
apps/frontend/dist/dashboard/browser/chunk-WYUPABRA.js
apps/frontend/dist/dashboard/browser/favicon.ico
apps/frontend/dist/dashboard/browser/index.html
apps/frontend/dist/dashboard/browser/main-2WY3ZHWD.js
apps/frontend/dist/dashboard/browser/polyfills-IOO3XMUJ.js
apps/frontend/dist/dashboard/browser/styles-TZDHVZ5B.css
