# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.agents/skills/nestjs-testing-expert/plugin.json

apps/backend/node_modules/*
.turbo/cache/a846a64ed0adb109-manifest.json
.turbo/cache/a846a64ed0adb109-meta.json
.turbo/cache/a846a64ed0adb109.tar.zst
.turbo/cache/8e30ef21d8f71fdb-manifest.json
.turbo/cache/8e30ef21d8f71fdb-meta.json
.turbo/cache/8e30ef21d8f71fdb.tar.zst
.turbo/cache/51c0d0812c1f12cb-manifest.json
.turbo/cache/51c0d0812c1f12cb-meta.json
.turbo/cache/51c0d0812c1f12cb.tar.zst
.turbo/cache/fcd1749c36cf87bb-manifest.json
.turbo/cache/fcd1749c36cf87bb-meta.json
.turbo/cache/fcd1749c36cf87bb.tar.zst
.turbo/cache/d3b222cfda885337-manifest.json
.turbo/cache/d3b222cfda885337-meta.json
.turbo/cache/d3b222cfda885337.tar.zst
.turbo/cache/ef5affdfa78dd1df-manifest.json
.turbo/cache/ef5affdfa78dd1df-meta.json
.turbo/cache/ef5affdfa78dd1df.tar.zst
.turbo/cache/7724755b1c9e6bac-manifest.json
.turbo/cache/7724755b1c9e6bac-meta.json
.turbo/cache/7724755b1c9e6bac.tar.zst
.turbo/cache/b908e85bbdc173ee-manifest.json
.turbo/cache/b908e85bbdc173ee-meta.json
.turbo/cache/b908e85bbdc173ee.tar.zst
